*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: sans-serif;
}
main, footer{
    padding: 0.5rem 0.5rem;
}
h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: dodgerblue;
}
p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: gray;
}


h3, h4{
    margin: 1rem 1rem;
    font-size: 1.5rem;
}

.navbar{
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem 1rem;
}
.navbar img{
    width: 50%;
}


.get-demo{
    padding: 1rem 1rem;
    text-align: center;
    background-color: skyblue;
    border-radius: 1rem;
}
.get-demo img{
    width: 55%;
}


.button{
    background-color: dodgerblue;
    color: white;
    border-radius: 1rem;
    width: 40%;
    padding: 0.5rem;
    position: relative;
    left: 8rem;
}

.cards{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: skyblue;
    border-radius: 1rem;
    padding: 1rem 1rem;
}
.icon{
    color: dodgerblue;
}

.planning{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 1rem;
}
.planning img{
    width: 40%;
}


.develop{
    background-color: white;
    color: black;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.develop img{
    width: 40%;
}


.arrow{
    background-color: blueviolet;
    width: 2rem;
    border-radius: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    position: relative;
    bottom: 1rem;
}

.testimonial{
    background-color: white;
    padding: 1rem;
    text-align: center;
}
.testimonial h3 {
    color: blueviolet;
}
.testimonial img{
    width: 40%;
    border-radius: 5rem;
}


.partner{
    background-color: blueviolet;
    color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.benefit{
    background-color: blueviolet;
    padding: 1rem;
    text-align: start;
}
.benefit h3{
    color: white;
}

.topics{
    background-color: white;
    color: blueviolet;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.topics span{
    color: gray;
}

.more{
    background-color: blueviolet;
    color: darkseagreen;
    border-radius: 5rem;
    width: 30%;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem;
}

.about-us{
    background-color: white;
    color: black;
    text-align: start;
}
.about-us h3{
    color: blueviolet;
}
.about-us img{
    width: 40%;
    border-radius: 5rem;
}

.linkedin{
    background-color: blueviolet;
    color: darkseagreen;
    border-radius: 2rem;
    width: 55%;
    padding: 1rem;
}

.start{
    background-color: blueviolet;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.start p{
    color: darkseagreen;
}
.start h3{
    color: white;
}
.start h2{
    color: goldenrod;
    font-size: 5rem;
}
.get-start{
    background-color: antiquewhite;
    width: 7rem;
    color: blueviolet;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
}

footer{
    background-color: #222;
    color: white;
    text-align: center;
}

/* media query tablet */

@media screen and (min-width: 800px) {
    .get-demo{
        display: flex;
        justify-content: space-between;
    }
    .clean-code{
        display: flex;
        justify-content: space-between;
    }

    .cards{
        width: 33%;
    }

    .first-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .second-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .topics{
        width: 49%;
        flex-wrap: wrap;
    }
}


/* media query desktop */


